@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-shrink-0">

    <section class="hero main-section" id="hero">
        <div class="heroOverlay"></div>
        <div class="banner">
            <h1>Art By Timylo</h1>
            <p>Toutes les dessine que tu peut imagine</p>
            <div class="row">
                <div class="col mb-3">
                    <a type="button" class="btn btn-dark btnSize" href="https://www.instagram.com/dessine.moi.un.loulou?igsh=dGFvZjRoM3ZoajZ2">
                        Instagram
                    </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-dark btnSize" href="https://www.etsy.com/shop/DessineMoiUnLoulou">
                        Etsy
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about-me">
        <div class="about-me about-section">
            <h2>About Me</h2>
            <div class="row mt-5">
                <div class="row about-card">
                    <div class="col-md-6 card-pict">
                        <img src="~/assets/self.jpeg" class="d-block img-fluid mx-auto card-pict" alt="Timylo" />
                    </div>
                    <div class="col-md-6 about-container mt-4">
                        <p class="about-text">
                            In the realm of modern education, the integration of technology has revolutionized the learning landscape. A student today has access to a vast repository of knowledge, far beyond the confines of traditional textbooks and classrooms. Online platforms, digital libraries, and virtual classrooms have opened up a new dimension of interactive and personalized education. This digital leap has not only broadened the horizons of learners but also equipped teachers with innovative tools to enhance pedagogy.
                            The significance of technology in education cannot be overstated. It facilitates real-time communication and collaboration across geographies, enabling a global exchange of ideas and cultural understanding. It has democratized education, making it accessible to those in remote locations and bridging the gap caused by economic disparities.
                            Moreover, the adaptive learning algorithms of educational software have made it possible to cater to the unique learning pace and style of each student. It's a shift from one-size-fits-all to a more tailored approach, recognizing the individual strengths and areas for improvement in each learner.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="gallery p-5 text-light">
            <div class="text-center">
                <div class="container">
                    <div class="row">
                        <h2 class="mb-4">Featured</h2>
                    </div>
                </div>
                <!--carousel of images rotating-->
                <div class="container">
                    <div class="container-fluid">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Pic 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Pic 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Pic 3"></button>
                            </div>
                            <div class="carousel-inner justify-content-center carousel-images">
                                <div class="carousel-item active">
                                    <div class="carousel-image-container">
                                        <a class="nav-link" asp-controller="Home" asp-action="Portfolio">
                                            <img src="assets/bookmark1.jpeg" class="d-block w-50 img-fluid mx-auto" alt="Pic 1">
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-image-container">
                                        <a class="nav-link" asp-controller="Home" asp-action="Portfolio">
                                            <img src="assets/sticker1.jpeg" class="d-block w-50 img-fluid mx-auto" alt="Pic 2">
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-image-container">
                                        <a class="nav-link" asp-controller="Home" asp-action="Portfolio">
                                            <img src="assets/print1.jpeg" class="d-block w-50 img-fluid mx-auto" alt="Pic 3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <!--links/shops-->
    </section>

</main>
