@{
    ViewData["Title"] = "Portfolio";
}

<section id="portfolio">
    <div class="portfolio pt-5 mt-5 text-light">
        <div class="text-center text-sm-left">
            <div class="container">
                <div class="row">
                    <h2 class="mb-4">Portfolio</h2>
                </div>
            </div>
        </div>

        <div class="pt-5">

            <div class="container spacer" id="bookmarks">
                <div class="text-sm-center text-md-start">
                    <h5>Bookmarks</h5>
                </div>
                <div class="mt-5">
                    <div class="row row-cols-md-3">
                        <!-- Portfolio Items -->
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/bookmark2.jpeg" alt="Artwork 1">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                    data-item-id="1"
                                    data-item-price="3.50"
                                    data-item-name="Bookmark 1"
                                    data-item-image="/assets/bookmark1.jpeg"
                                    data-item-description="Pumpkin bookmark">
                                    € 3.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/bookmark1.jpeg" alt="Artwork 2">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="2"
                                        data-item-price="3.50"
                                        data-item-name="Bookmark 2"
                                        data-item-image="/assets/bookmark2.jpeg"
                                        data-item-description="Other bookmark">
                                    €3.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/bookmark3.jpeg" alt="Artwork 3">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="3"
                                        data-item-price="3.50"
                                        data-item-name="Bookmark 3"
                                        data-item-image="/assets/bookmark3.jpeg"
                                        data-item-description="Last bookmark">
                                    €3.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/bookmark1.jpeg" alt="Artwork 4">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/bookmark2.jpeg" alt="Artwork 1">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/bookmark3.jpeg" alt="Artwork 2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container spacer" id="stickers">
                <div class="text-sm-center text-md-start">
                    <h5>Stickers</h5>
                </div>
                <div class="mt-5">
                    <div class="row">
                        <!-- Portfolio Items -->
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/sticker1.jpeg" alt="Artwork 1">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="4"
                                        data-item-price="4.50"
                                        data-item-name="Sticker 1"
                                        data-item-image="/assets/sticker1.jpeg"
                                        data-item-description="Big dog sticker">
                                    Add to cart: 4.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/sticker2.jpeg" alt="Artwork 2">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="5"
                                        data-item-price="4.50"
                                        data-item-name="Small dog sticker"
                                        data-item-image="/assets/bookmark1.jpeg"
                                        data-item-description="Small dog sticker">
                                    Add to cart: 4.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/sticker1.jpeg" alt="Artwork 3">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="1"
                                        data-item-price="3.50"
                                        data-item-name="Bookmark 1"
                                        data-item-image="/assets/bookmark1.jpeg"
                                        data-item-description="Pumpkin bookmark">
                                    Add to cart: 3.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/sticker2.jpeg" alt="Artwork 4">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/sticker1.jpeg" alt="Artwork 3">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/sticker2.jpeg" alt="Artwork 2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="prints">
                <div class="text-sm-center text-md-start">
                    <h5>Prints</h5>
                </div>
                <div class="mt-4">
                    <div class="row">
                        <!-- Portfolio Items -->
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/print1.jpeg" alt="Artwork 1">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="6"
                                        data-item-price="5.00"
                                        data-item-name="Print"
                                        data-item-image="/assets/print1.jpeg"
                                        data-item-description="Print of woman and dog">
                                    Add to cart: 5.00
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/print1.jpeg" alt="Artwork 2">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="1"
                                        data-item-price="3.50"
                                        data-item-name="Bookmark 1"
                                        data-item-image="/assets/bookmark1.jpeg"
                                        data-item-description="Pumpkin bookmark">
                                    Add to cart: 3.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/print1.jpeg" alt="Artwork 3">
                            </div>
                            <div class="product">
                                <button class="btn btn-dark btnSize snipcart-add-item"
                                        data-item-id="1"
                                        data-item-price="3.50"
                                        data-item-name="Bookmark 1"
                                        data-item-image="/assets/bookmark1.jpeg"
                                        data-item-description="Pumpkin bookmark">
                                    Add to cart: 3.50
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/print1.jpeg" alt="Artwork 4">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/print1.jpeg" alt="Artwork 1">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 portfolio-item">
                            <div class="image-blowup">
                                <img src="~/assets/print1.jpeg" alt="Artwork 2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>